/*
    Gintonic Web
    Author:    Philippe Lafrance
    Link:      http://gintonicweb.com
    
*/

/**GtwServices*/
.panel-heading .title{margin-top: 3px;margin-bottom: 0px;}
.gtwServices{
	hr{margin:5px 0px;}
	.discuss{border-bottom:1px solid #d5d5d5;margin-top:0px;}
	#uploadedServiceFiles{
		.service-file{
					float: left;
					margin: 0 7px;	
					width: 75px;
				}
	}
	#StripeViewForm{display:inline}
	.complete{background:#f2f2f2}
	.bginfo div{border: 1px solid #d5d5d5;padding:2px;text-align:center;}
}